html {
  font-size: 62.5%; }

h1 {
  font-size: 3.5rem;
  font-family: 'Bellefair', serif;
  color: #558385;
  text-shadow: 1px 1px 0px rgba(14, 14, 14, 0.7); }

h2 {
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
  color: #284d4e; }

h5 {
  font-size: small;
  font-family: 'Ubuntu', sans-serif;
  color: #7b8c8d; }

ol, label {
  font-size: 1.1rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: #284d4e; }

li, input {
  font-size: 0.9rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: #346466; }

a {
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
  color: #2f4344; }

p {
  font-size: 1.2rem;
  font-family: 'Noto Sans KR', sans-serif;
  color: #284d4e; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 110%; }
  h1 {
    margin-left: 4px;
    text-shadow: -0.8px -0.8px 0px rgba(214, 252, 255, 0.5), 1px 1px 1px rgba(41, 25, 35, 0.61), 2px 2px 5px rgba(37, 37, 35, 0.71); } }

@media only screen and (max-width: 768px) {
  nav div ul li a {
    font-size: 2rem; } }

.divClassIndex {
  display: flex;
  flex-direction: column; }

.divClassIndex__main {
  text-align: center;
  margin: 5vh 20px 7vh 20px; }

.divClassIndex__main--foto {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px 3px rgba(125, 126, 129, 0.555); }

.divClassIndex__aside {
  height: 240px;
  width: 319.8px; }

.divClassIndex__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2vh 7px 2vh 7px; }
  .divClassIndex__article iframe {
    margin-top: 2vh;
    height: 192px;
    width: 340.8px; }

@media only screen and (min-width: 768px) {
  .divClassIndex {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0.318), rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(255, 255, 255, 0.014), rgba(255, 255, 255, 0.534), rgba(255, 255, 255, 0.118), rgba(255, 255, 255, 0)), url(../Media/Fondos/dodeca.jpg);
    background-size: cover;
    background-position: center center; }
  .divClassIndex__main {
    margin: 20vh 30vh 25vh 30vh; }
  .divClassIndex__main--foto {
    margin-left: 35px; }
  .fondoTecnicas {
    background-image: radial-gradient(rgba(133, 107, 107, 0.65), rgba(133, 107, 107, 0.35), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01)), linear-gradient(to bottom, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.1), rgba(133, 107, 107, 0.05), rgba(202, 203, 218, 0.4), rgba(133, 107, 107, 0.05), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.01));
    padding-top: 3vh;
    width: 100%; }
  .divClassIndex__aside {
    height: 560px;
    width: 746.2px; } }

@media only screen and (min-width: 945px) {
  .divClassIndex__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vh 20px 2vh 20px; }
    .divClassIndex__article iframe {
      padding-top: 2vh;
      height: 480px;
      width: 854px; } }

@media only screen and (min-width: 1000px) {
  .divClassIndex__main {
    display: flex;
    flex-direction: row; } }

@media only screen and (max-width: 768px) {
  .divClassIndex__aside--sombra {
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.2), 0px 0px 12px 10px rgba(97, 77, 77, 0.5); } }

#item1 {
  background-image: url("../Media/b-obras/1.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 276.66667px; }

#item2 {
  background-image: url("../Media/b-obras/2.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 276.66667px; }

#item3 {
  background-image: url("../Media/b-obras/3.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 276.66667px; }

#item4 {
  background-image: url("../Media/b-obras/4.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 276.66667px; }

#item5 {
  background-image: url("../Media/b-obras/5.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 276.66667px; }

#item6 {
  background-image: url("../Media/b-obras/6.jpg");
  background-position: center center;
  background-size: cover;
  height: 400px;
  width: 276.66667px; }

#itemModal1 {
  background-image: url("../Media/b-obras/1pe.jpg");
  display: flex;
  justify-self: center;
  align-self: center;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  height: 400px;
  width: 416.66667px; }

#itemModal2 {
  background-image: url("../Media/b-obras/2pe.jpg");
  display: flex;
  justify-self: center;
  align-self: center;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  height: 400px;
  width: 416.66667px; }

#itemModal3 {
  background-image: url("../Media/b-obras/3pe.jpg");
  display: flex;
  justify-self: center;
  align-self: center;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  height: 400px;
  width: 416.66667px; }

#itemModal4 {
  background-image: url("../Media/b-obras/4pe.jpg");
  display: flex;
  justify-self: center;
  align-self: center;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  height: 400px;
  width: 416.66667px; }

#itemModal5 {
  background-image: url("../Media/b-obras/5pe.jpg");
  display: flex;
  justify-self: center;
  align-self: center;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  height: 400px;
  width: 416.66667px; }

#itemModal6 {
  background-image: url("../Media/b-obras/6pe.jpg");
  display: flex;
  justify-self: center;
  align-self: center;
  background-position: center center;
  background-size: cover;
  margin: 17px;
  height: 400px;
  width: 416.66667px; }

@media only screen and (max-width: 500px) {
  #itemModal1 {
    background-image: url("../Media/b-obras/1pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 6px;
    height: 256px;
    width: 266.66667px; }
  #itemModal2 {
    background-image: url("../Media/b-obras/2pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 6px;
    height: 256px;
    width: 266.66667px; }
  #itemModal3 {
    background-image: url("../Media/b-obras/3pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 6px;
    height: 256px;
    width: 266.66667px; }
  #itemModal4 {
    background-image: url("../Media/b-obras/4pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 6px;
    height: 256px;
    width: 266.66667px; }
  #itemModal5 {
    background-image: url("../Media/b-obras/5pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 6px;
    height: 256px;
    width: 266.66667px; }
  #itemModal6 {
    background-image: url("../Media/b-obras/6pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 6px;
    height: 256px;
    width: 266.66667px; } }

.closePosition {
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 10px; }

#item1 {
  grid-area: "1";
  margin-top: 2.5vh;
  margin-bottom: 2.5vh; }

#item2 {
  grid-area: "2";
  margin-top: 2.5vh;
  margin-bottom: 2.5vh; }

#item3 {
  grid-area: "3";
  margin-top: 2.5vh;
  margin-bottom: 2.5vh; }

#item4 {
  grid-area: "4";
  margin-top: 2.5vh;
  margin-bottom: 2.5vh; }

#item5 {
  grid-area: "5";
  margin-top: 2.5vh;
  margin-bottom: 2.5vh; }

#item6 {
  grid-area: "6";
  margin-top: 2.5vh;
  margin-bottom: 2.5vh; }

.divClassObras {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  display: grid;
  grid-template-areas: "1" "2" "3" "4" "5" "6";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-column-gap: 7px; }
  .divClassObras div {
    box-shadow: 0px 0px 10px 3px rgba(125, 126, 129, 0.555); }

@media only screen and (min-width: 600px) and (max-width: 1075px) {
  .divClassObras {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: grid;
    grid-template-areas: "1 2" "3 4" "5 6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    grid-column-gap: 10px; } }

@media only screen and (min-width: 1075px) {
  .divClassObras {
    grid-template-areas: "1 2 3" "4 5 6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 33vh;
    margin-right: 33vh;
    grid-column-gap: 20px; } }

.sectionCV {
  margin-top: 32px;
  display: grid;
  grid-template-areas: ". cvT ." ". cvI ." ". cvL .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px; }

.sectionCV__titulo {
  justify-self: center;
  grid-area: cvT; }

.sectionCV__img {
  justify-self: center;
  grid-area: cvI;
  box-shadow: 0px 0px 10px 3px rgba(125, 126, 129, 0.555);
  width: 275px; }

.sectionCV__lista {
  justify-self: center;
  grid-area: cvL; }
  .sectionCV__lista li {
    list-style: disc; }

.sectionExpo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: ". expoT ." ". expoI ." ". expoL .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 10px; }

.sectionExpo__titulo {
  justify-self: center;
  grid-area: expoT; }

.sectionExpo__img {
  justify-self: center;
  grid-area: expoI;
  box-shadow: 0px 0px 10px 3px rgba(125, 126, 129, 0.555);
  width: 275px; }

.sectionExpo__lista {
  justify-self: center;
  grid-area: expoL; }

@media only screen and (min-width: 768px) and (max-width: 1070px) {
  .sectionCV .sectionCV__lista {
    width: 100vh;
    margin: 0%;
    padding: 0%; } }

@media only screen and (min-width: 1070px) {
  .sectionCV {
    margin: 40px 15%;
    display: grid;
    grid-template-areas: " cvT cvT " "cvI  cvL ";
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px; }
  .sectionExpo {
    margin: 40px 15%;
    display: grid;
    grid-template-areas: " expoT expoT" " expoL expoI";
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px; }
  .sectionCV__img, .sectionExpo__img {
    width: auto; } }

.sectionContacto form fieldset, .seccionContactoIndex form fieldset {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none; }
  .sectionContacto form fieldset label, .seccionContactoIndex form fieldset label {
    padding: 7px 3px 7px 3px;
    font-weight: bold;
    width: max-content; }
  .sectionContacto form fieldset input, .seccionContactoIndex form fieldset input {
    width: max-content;
    margin: 0.7vh;
    padding: 0.5vh; }
  .sectionContacto form fieldset textarea, .seccionContactoIndex form fieldset textarea {
    height: 50vh;
    width: 50vh; }

.sectionContacto__fondoContacto form {
  background-color: rgba(245, 220, 230, 0.577); }
  .sectionContacto__fondoContacto form label {
    background-color: rgba(245, 220, 230, 0.577); }

.divImagenes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 3vh; }

@media only screen and (min-width: 1000px) {
  .sectionContacto__fondoContacto {
    background: url(../Media/Fondos/caladolibro.jpg);
    background-size: cover;
    background-position: center center; } }

@media only screen and (min-width: 1000px) {
  .sectionContacto, .seccionContactoIndex {
    padding: 15vh 33% 15vh 33%; }
    .sectionContacto form, .seccionContactoIndex form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100vh; }
      .sectionContacto form fieldset, .seccionContactoIndex form fieldset {
        width: 50vh; }
        .sectionContacto form fieldset textarea, .seccionContactoIndex form fieldset textarea {
          height: 35vh;
          width: 90vh; }
  .divImagenes {
    flex-direction: row;
    flex-wrap: wrap; }
    .divImagenes img {
      margin-top: 14px; } }

.bodyuno {
  margin: 0; }
  .bodyuno img, .bodyuno div {
    width: 230px;
    height: 230px; }
  .bodyuno .x {
    animation: x 13s linear infinite alternate;
    position: absolute; }
  .bodyuno .y {
    animation: y 7s linear infinite alternate;
    position: absolute; }

@keyframes x {
  100% {
    transform: translateX(calc(100vw - 230px)); } }

@keyframes y {
  100% {
    transform: translateY(calc(100vh - 230px)); } }
  .bodyuno .a {
    animation: x 4s linear infinite alternate;
    position: absolute; }
  .bodyuno .b {
    animation: y 17s linear infinite alternate;
    position: absolute; }

@keyframes a {
  100% {
    transform: translateX(calc(100vw - 230px)); } }

@keyframes b {
  100% {
    transform: translateY(calc(100vh - 230px)); } }
  .bodyuno .c {
    animation: x 7s linear infinite alternate;
    position: absolute; }
  .bodyuno .d {
    animation: y 7s linear infinite alternate;
    position: absolute; }

@keyframes c {
  100% {
    transform: translateX(calc(100vw - 230px)); } }

@keyframes d {
  100% {
    transform: translateY(calc(100vh - 230px)); } }
  .bodyuno .e {
    animation: x 3s linear infinite alternate;
    position: absolute; }
  .bodyuno .f {
    animation: y 10s linear infinite alternate;
    position: absolute; }

@keyframes e {
  100% {
    transform: translateX(calc(100vw - 230px)); } }

@keyframes f {
  100% {
    transform: translateY(calc(100vh - 230px)); } }
  .bodyuno .g {
    animation: x 8s linear infinite alternate;
    position: absolute; }
  .bodyuno .h {
    animation: y 15s linear infinite alternate;
    position: absolute; }

@keyframes g {
  100% {
    transform: translateX(calc(100vw - 230px)); } }

@keyframes h {
  100% {
    transform: translateY(calc(100vh - 230px)); } }
  .bodyuno .error {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(rgba(255, 255, 255, 0.853), rgba(102, 105, 122, 0.582), rgba(6, 6, 148, 0.603), rgba(6, 70, 30, 0.6)); }
    .bodyuno .error h2 {
      font-size: 24pt;
      font-family: 'Press Start 2P', cursive; }

@media only screen and (max-width: 768px) {
  .error {
    font-size: 9pt;
    padding-top: 20px; } }

* {
  margin: 0;
  padding: 0; }

.bodyClass {
  background-image: linear-gradient(to right bottom, rgba(255, 254, 254, 0.429), rgba(255, 255, 255, 0), rgba(120, 122, 156, 0.497));
  background-color: #dde9e3; }

/* HEADER & FOOTER */
.headerClass {
  background-image: linear-gradient(to right bottom, rgba(184, 189, 252, 0.7), rgba(108, 113, 175, 0.7));
  background-color: #cacbda;
  box-shadow: 0px 0px 15px 0px #614d4d;
  position: relative; }
  .headerClass aside {
    padding: 5px 0px 3px;
    display: flex;
    background-color: #614d4d;
    justify-content: flex-end; }
    .headerClass aside ul {
      display: flex;
      flex-direction: row; }
      .headerClass aside ul li {
        list-style: none; }
        .headerClass aside ul li a {
          padding: 3px; }

.headerClass__logo,
.headerClass__logo a,
.headerClass__nav ul {
  display: flex;
  flex-direction: row;
  padding: 4px;
  align-items: center; }

.headerClass__logo {
  padding-left: 15px;
  flex-wrap: nowrap; }
  .headerClass__logo h1 {
    padding-left: 5px; }

.headerClass__nav--ul {
  justify-content: space-around; }
  .headerClass__nav--ul li {
    list-style: none; }
    .headerClass__nav--ul li a {
      text-decoration: none;
      transition: all 0.8s;
      text-shadow: -1.1px -1.1px 0px rgba(0, 0, 0, 0.7); }

.headerClass__nav--ul li a:hover {
  color: white !important;
  text-shadow: 2px 1px #383737; }

.icon {
  position: relative;
  overflow: hidden;
  animation: infinite; }

.icon:nth-child(1) {
  background: #cacbda; }

.icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.4) 92%, rgba(255, 255, 255, 0) 100%); }

.icon:hover:after {
  opacity: 1;
  top: -30%;
  left: 50%;
  transition-property: left, top, opacity;
  transition-duration: 2s, 2s, 1.5s;
  transition-timing-function: ease-in-out; }

.icon:active:after {
  opacity: 0; }

/* Footer*/
.footerClass {
  padding: 12px;
  background-color: #614d4d;
  display: flex;
  flex-direction: column; }

@media only screen and (max-width: 768px) {
  .headerClass div {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .headerClass__nav ul {
    flex-direction: column;
    align-items: center; }
  .icon:after {
    top: 70%;
    left: -210%;
    width: 300%;
    height: 100%; }
  .icon:hover:after {
    top: -30%;
    left: 110%;
    transition-duration: 1.5s, 1.5s, 1s; }
  .footerClass {
    align-items: center;
    justify-content: center;
    text-align: center; } }

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .nav-link {
    font-size: 80% !important; } }
