
.sectionContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
       fieldset {
      display: flex;
      flex-direction: column;
      
      padding: 20px;
      border: none;
      label{
        padding: 7px 3px 7px 3px;
        font-weight: bold;
         width: max-content;
      }
      input {
        width: max-content;
        margin: 0.7vh;
        padding: 0.5vh;
      }
      textarea {
        width: 35vh;
        height: 20vh;
      }
    }
  }
}

.sectionContacto__fondoContacto{
  form {
    background-color: rgba(245, 220, 230, 0.577);
    
      label{ 
        background-color:rgba(245, 220, 230, 0.577) ;  
      }
    }
  }


.divImagenes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

@media only screen and (min-width: 768px) {
  .sectionContacto form fieldset textarea{
    width: 50vh;
    height: 25vh;
  }

}

@media only screen and (min-width: 945px) {
  .sectionContacto {
    padding: 15vh 0vh 15vh 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      flex-direction: column;
      justify-content: flex-start;
      width: 100vh;
      fieldset {
        width: 80vh;
        
        textarea {
          width: 80vh;
          height: 35vh;
        }
      }
    }
  }
  .divImagenes {
    flex-direction: row;
    flex-wrap: wrap;
    img{
      margin-top:14px;
    }
  }
  .sectionContacto__fondoContacto{
    background: url(../Media/Fondos/caladolibro.jpg);
    background-size: cover;
    background-position: center center;
  
  }
}

@media only screen and (min-width: 1215px) {
  .sectionContacto form fieldset textarea{
    width: 90vh;
  }

}

