.divClassIndex {
  display: flex;
  flex-direction: column;
  background-image:linear-gradient(to bottom right, 
  rgba(255, 255, 255, 0.23), 
  rgba(255, 255, 255, 0.856), 
  rgba(255, 255, 255, 0.318), 
  rgba(255, 255, 255, 0)),
  linear-gradient(to bottom, 
  rgba(255, 255, 255, 0.014), 
  rgba(255, 255, 255, 0.534), 
  rgba(255, 255, 255, 0.118), 
  rgba(255, 255, 255, 0)),
  url(../Media/Fondos/dodeca.jpg) ;
  
  background-size: cover;
  background-position: center center;

}

.divClassIndex__main {
  text-align: center;
  margin: 5vh 20px 7vh 20px;
}

.divClassIndex__main--foto {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 10px 3px rgba(125, 126, 129, 0.555);
}
$alturaTecnicas: 400px;
$anchoTecnicas: 533px;

@mixin dimensionesTecnicas($alturaTecnicas, $anchoTecnicas) {
  height: $alturaTecnicas;
  width: $anchoTecnicas;
}

.divClassIndex__aside {
  @include dimensionesTecnicas($alturaTecnicas * 0.6, $anchoTecnicas * 0.6);
}

.divClassIndex__article {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2vh 7px 2vh 7px;
  iframe {
    margin-top: 2vh;
    height: 120px *1.6;
    width: 213px *1.6;
  }
}


// Extend desde "_contacto"
.seccionContactoIndex {
  @extend .sectionContacto;
}

@media only screen and (min-width: 768px) {
  
  .divClassIndex__main{
    display: flex;
    flex-direction: row;
    margin: 20vh 30vh 25vh 30vh;
  }
  .divClassIndex__main--foto {
    margin-left: 35px;
  }
  .fondoTecnicas{
    // 202, 203, 218
    // 97, 77, 77
    background-image:
    radial-gradient(
      rgba(97,77,77, 0.95),
      rgba(97, 77, 77, 0.85),
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.01)
      ),
      linear-gradient(to bottom, 
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.2),
      rgba(97, 77, 77, 0.1),
      rgba(202, 203, 218, 0.7),
      rgba(97, 77, 77,0.1),
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.01)
      );
      padding-top: 3vh;
      width: 100%;
    }
    
    
    .divClassIndex__aside {
      @include dimensionesTecnicas($alturaTecnicas * 1.4, $anchoTecnicas * 1.4);
    }
    
    
  }
  @media only screen and (min-width: 945px) {
  .divClassIndex__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2vh 20px 2vh 20px;
    iframe {
      padding-top: 2vh;
      height: 480px;
      width: 854px;
    }
  }
}
  @media only screen and (max-width: 768px){
  .divClassIndex__aside--sombra{
   box-shadow: 
   0px 0px  12px  6px rgba(0, 0, 0, 0.2),
   0px 0px 12px  10px rgba(97,77,77,0.5);
  }}