// Aplicando variables, operaciones, mixin, each y for


.textObras{
 margin: 7vh 0vh 5vh 0vh;

}


$altura: 500px;
$ancho: 332px;

@mixin dimensiones($altura, $ancho) {
  height: $altura * 0.8;
  width: $ancho / 1.2;
}

@each $obra in 1, 2, 3, 4, 5, 6 {
  #item#{$obra} {
    background-image: url("../Media/b-obras/#{$obra}.jpg");
    background-position: center center;
    background-size: cover;
    @include dimensiones($altura, $ancho);
  }
}

//Imagenes modal
@each $obra in 1, 2, 3, 4, 5, 6 {
  #itemModal#{$obra} {
    background-image: url("../Media/b-obras/#{$obra}pe.jpg");
    display: flex;
    justify-self: center;
    align-self: center;
    background-position: center center;
    background-size: cover;
    margin: 17px;
    @include dimensiones(500px, 500px);
  }
}

@media only screen and (max-width: 500px) {
  @each $obra in 1, 2, 3, 4, 5, 6 {
    #itemModal#{$obra} {
      background-image: url("../Media/b-obras/#{$obra}pe.jpg");
      display: flex;
      justify-self: center;
      align-self: center;
      background-position: center center;
      background-size: cover;
      margin: 6px;
      @include dimensiones(320px, 320px);
    }
  }
}

.closePosition{
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin: 10px;
}


@for $i from 1 to 7 {
  #item#{$i} {
    grid-area: "#{$i}";
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
}

.divClassObras {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  display: grid;
  grid-template-areas:
    "1"
    "2"
    "3"
    "4"
    "5"
    "6";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-column-gap: 7px;

  div {
    box-shadow: 0px 0px 10px 3px rgba(125, 126, 129, 0.555);
  }
}

@media only screen and (min-width: 600px) and (max-width: 1075px) {
  .divClassObras {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    display: grid;
    grid-template-areas:
      "1 2"
      "3 4"
      "5 6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    grid-column-gap: 10px;
  }
}

@media only screen and (min-width: 1075px) {
  .divClassObras {
    grid-template-areas:
      "1 2 3"
      "4 5 6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 33vh;
    margin-right: 33vh;
    grid-column-gap: 20px;
  }
}
